[run]
source =
    app
    test
omit =
    env/*
    */test*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def SetUp
    def test_
    return raw_input
    print
    if__name__=='__mian__':
    def suite
    __str__